body {
  margin: 0;
  background-color: var(--white_2);
  color: var(--dark);
}

.dashboard-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.app_chart,
.job_chart {
  flex: 1;
  min-width: 275px;
  border-radius: 16px;
  padding: 20px;
  padding-bottom: 20%;
  background-color: var(--white_1);
}

.add_button {
  float: right;
  margin-top: -25px;
  margin-right: 4px;
  background-color: var(--accent);
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 16px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: var(--dark);
}
button:active {
  background-color: var(--dark);
}

.job-cards {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--white_1);
  padding: 20px;
  border-radius: 16px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  color: var(--dark);
  float: right;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.1s;
}

.close:hover,
.close:focus {
  color: var(--accent);
  text-decoration: none;
  cursor: pointer;
}

.modal h2 {
  margin: 0;
  margin-bottom: 1em;
  font-size: 24px;
  color: var(--dark);
}

.modal #confirm-delete {
  background-color: var(--red);
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s;
  margin-right: 0.6em;
}

.modal #confirm-delete:hover {
  background-color: var(--dark-red);
}

.modal #cancel-delete {
  background-color: var(--white_2);
  font-size: 1rem;
  font-weight: bold;
  color: var(--dark);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s;
}

.modal #cancel-delete:hover {
  background-color: var(--white_4);
}

@media screen and (max-width: 767px) {
  .tags {
    gap: 12px;
  }

  .tag {
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}
