body {
    margin: 0;
    background-color: var(--white_2);
    color: var(--dark);
}

.dashboard-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.app_chart,
.job_chart {
    flex: 1;
    min-width: 275px;
    border-radius: 16px;
    padding: 20px;
    padding-bottom: 20%;
    background-color: var(--white_1);
}

.add_button {
    float: right;
    margin-top: -25px;
    margin-right: 4px;
    background-color: var(--accent);
    border: none;
    color: white;
    padding: 8px 14px;
    border-radius: 16px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: var(--dark);
}
button:active {
    background-color: var(--dark);
}


.job-cards {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

@media screen and (max-width: 767px) {
    .tags {
        gap: 12px; 
    }
    
    .tag {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
    

}