:root {
    --accent: #5193fa;
    --accent-dark: #305188;
    --white_1: #e3edfe;
    --white_2: #d4e0f4;
    --white_3: #d0dbee;
    --white_4: #c3cdde;
    --white_5: #b9c2d1;
    --dark: #1b1b1e;
}

body {
    margin: 0;
    background-color: var(--white_2);
    color: var(--dark);
}

.main-nav {
    background-color: var(--white_1);
    color: var(--dark);
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-weight: 500;
}

.main-nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark);
    margin-right: 4em;
    text-decoration: none;
}

.main-nav .nav-list li {
    display: inline-block;
    margin-right: 20px;
    color: var(--dark);
    font-size: 20px;
}

.main-nav .nav-list li a {
    color: var(--dark);
    text-decoration: none;
    transition: 0.1s;
}

.main-nav .nav-list li a:hover {
    color: var(--accent);
}

.main-nav .nav-list li .active {
    color: var(--accent);
    font-weight: bold;
}

.main-nav .profile {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.main-nav .profile .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--dark);
    border-radius: 3px;
}

.logo {
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    color: #000;
    border: none;
}

.dashboard-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.app_chart,
.job_chart {
    flex: 1;
    min-width: 275px;
    border-radius: 16px;
    padding: 20px;
    padding-bottom: 20%;
    background-color: var(--white_1);
}

.job_posting {
    width: 50%;
}

.add_button {
    float: right;
    margin-top: -25px;
    margin-right: 4px;
    background-color: var(--accent);
    border: none;
    color: white;
    padding: 8px 14px;
    border-radius: 16px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: var(--dark);
}
button:active {
    background-color: var(--dark);
}

#job1 {
    background-color:var;
    border-radius: 12px;
    padding: 16px;
    margin-top: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.google_logo {
    height: 24px;
    vertical-align: middle;
    margin-bottom: 4px;
}

.job_title {
    font-weight: bold;
    margin: 4px 0;
}

.location {
    font-size: 13px;
    color: var(--dark);
    margin-top: 0;
    margin-bottom: 10px;
}

.job1_button {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 10px;
}

.tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%;
    margin-bottom: 35px;
}

.tag {
    background-color: var(--accent);
    color: var(--white_1);
    padding: 10px 15px;
    border-radius: 50px;
    cursor: default;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 5px;
    display: inline-block; 
}

.job_edit {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 12px;
}

.edit_button {
    padding: 6px 12px;
    border: none;
    border-radius: 15px;
    font-size: 13px;
    background-color: var(--accent-semi-dark);
    color: var(--white_1);
    cursor: pointer;
}

.edit_button.delete {
    background-color: var(--red);
}

.edit_button.delete:hover {
    background-color: var(--reddish);
}

.edit_button.delete:active {
    background-color: var(--dark-red);
}

@media screen and (max-width: 767px) {
    .main-nav {
        padding: 15px 20px;
        position: relative;
    }
    
    .menu-toggle {
        display: flex;
        order: 1;
    }
    
    .main-nav .logo {
        margin-right: 0;
        font-size: 1.4rem;
        order: 2;
    }
    
    .main-nav .profile {
        order: 3;
    }
    
    .main-nav .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: var(--white_1);
        z-index: 10;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }
    
    .nav-list.active {
        display: flex;
    }
    
    .main-nav .nav-list li {
        margin-right: 0;
        margin-bottom: 15px;
        font-size: 1.2rem;
        display: block;
    }
    
    .logo {
        width: 40px;
        min-width: 40px;
    }
    
    .tags {
        gap: 12px; 
    }
    
    .tag {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
    
    .main-nav .profile .profile-image {
        width: 40px;
        height: 40px;
        margin-left: 0;
    }

}