:root {
    --accent: #5193fa;
    --accent-dark: #305188;
    --white_1: #e3edfe;
    --white_2: #d4e0f4;
    --white_3: #d0dbee;
    --white_4: #c3cdde;
    --white_5: #b9c2d1;
    --dark: #1b1b1e;
}
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

body {
    background-color: var(--white_2);
    color: var(--dark);
    text-align: center;
}

section {
    background-color: var(--white_2);
}

/* Hero Section */
.hero {
    background-color: var(--white_2);
    padding: 30px 20px;
}

.hero h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

/* Recommended Jobs */
.recommended-jobs {
    font-size: larger;
    padding: 20px;
    min-height: fit-content;
    max-height: 800px;  
}

.job-card {
    background-color: var(--white_4);
    color: black;
    padding: 40px;
    margin: 10px auto;
    min-width:min-content;
    max-width: fit-content;
    border-radius: 20px;
}

.company {
    display: flex;
    text-align: left;
    margin-bottom: 10px;
    gap: 10px;
}

.company span {
    font-size: larger;
    padding-top: 2px;
}

.company p {
    margin-bottom: 5px;
}

.company img {
    width: 30px;
    height: 30px;
    border-radius: 15px;   
}

#company-logo { 
    font-weight: bold;
}

.job-tags button {
    background: var(--accent);
    color: white;
    border:none;
    font-size: medium;
    margin-bottom: 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    cursor: pointer
}


.job-actions {
    gap: 10px;
}

.job-actions button {
    padding: 5px 10px;
    margin-top: 15px;
    font-size:medium;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.apply {
    background-color: var(--accent);
    color: white;
}

.details {
    background-color: gray;
    color: white;
}

.see-more {
    background-color: var(--white_4);
    color: black;
    padding: 10px;
    margin-top: 10px;
    height: 50px;
    font-weight: bold;
    font-size: large;
    width: 30%;
    min-width:max-content;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: var(--white_4);
    padding: 20px;
}

.footer-content {
    text-align: left;
    max-width: 600px;
}

.footer-content h4 {
    margin-bottom: 10px;
    margin-top: 40px;
}

.sitemap ul li {
    list-style-type: none;
    margin-bottom: 7px;
}

a {
    color: var(--dark);
    text-decoration: none;
}

a:hover {
    color: gray;
}

.see-more:hover {
    color:gray;
    background-color: whitesmoke;
}

.job-tags button:hover {
    color:black;
    background-color: darkgray;
}


.job-tags button:disabled {
    background-color: wheat;
}

.job-actions button:hover {
    color: black;
}

.footer-note {
    margin-top: 10px;
    font-style: italic;
}
