{% extends 'layout.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}"/>
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
<link rel="stylesheet" href="{% static 'css/forgot-password.css' %}"/>
<meta name="autocomplete" content="off">
<meta name="password-manager" content="disable">
{% endblock %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="form-container">
      <h2>Set a new password</h2>
      <br>
      <form class="form" method="post" autocomplete="off">
        {% csrf_token %}
        <input type="text" name="fake-username" id="fake-username" style="display:none;" autocomplete="username" />
        <div class="input-container">
          <label for="new_password1">New Password</label>
          <input type="password"
                name="new_password1"
                id="new_password1"
                placeholder="Please enter a new password"
                autocomplete="new-password"
                required />
          {{ form.new_password1.errors }}
        </div>

        <div class="input-container">
          <label for="new_password2">Confirm New Password</label>
          <input type="password"
                name="new_password2"
                id="new_password2"
                placeholder="Confirm your new password"
                autocomplete="new-password"
                required />
          {{ form.new_password2.errors }}
        </div>

        <button type="submit" class="button confirm-button">Change Password</button>
      </form>

    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script>
  const passwordInput = document.getElementById('id_new_password1');
  const passwordConfirmInput = document.getElementById('id_new_password2');
  passwordInput.placeholder = "Enter new password";
  passwordConfirmInput.placeholder = "Confirm new password";
</script>
{% endblock %}
