{% extends 'layout.html' %}

{% load static %}

{% block title %}Reset Email Sent{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}"/>
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
<link rel="stylesheet" href="{% static 'css/forgot-password.css' %}"/>
{% endblock %}

{% block content %}
<style>
    
</style>
<main>
  <div class="container">
    <div class="form-container">
      <h2>Check your email</h2>
      <br>
      <p>We've emailed you instructions for setting your password. You should receive them shortly.</p>
    </div>
  </div>
</main>
{% endblock %}

