{% extends 'layout.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}"/>
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
<link rel="stylesheet" href="{% static 'css/forgot-password.css' %}"/>
{% endblock %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="form-container">
      <h2>Set a new password</h2>
      <br>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" class="button confirm-button">Change Password</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}
