{% load static %}

<div id="{{job.id}}" class="job-card">
    <div class="company-info">
        <img src="{% if job.company.user.profile_photo and job.company.user.profile_photo.url %}
                    {{ job.company.user.profile_photo.url }}
                  {% else %}
                    {% static 'assets/temp-profile.webp' %}
                  {% endif %}" 
        class="company-logo">

                        
        <h4 class="company-name">{{ job.company.company_name }}</h4>                
    </div>
    <div class="job-info">
        <h4 class="job-title">{{ job.job_title }}</h4>
        <a class="job-location">{{ job.location }}</a>
    </div>
    <ul class="tags">
        <li><a id="job-work-type" class="tag">{{ job.get_work_type_display }}</a></li>
        <li><a id="job-job-type" class="tag">{{ job.get_job_type_display }}</a></li> 
        <li><a id="job-exp" class="tag">{{ job.get_exp_level_display }}</a></li>
        <li><a id="job-salary" class="tag">${{ job.salary }}</a></li>
        {% for Skill in job.skills_required.all %}
        <li><a class="skill-tag" style="display: none;">{{ Skill.skill }}</a></li>
        {% endfor %}
    </ul>
    <div class="buttons">
        {% if user.is_admin %}
            <a id="edit{{job.id}}"  class="edit-button button">Edit</a>
            <a id="applicant{{job.id}}" class="applicants-button button">Applicants</a>
            <a id="delete{{job.id}}"  class="delete-button button">Delete</a>
        {% else %}
            {% if user.is_authenticated and job.has_applied %}
                <a class="applied-button button">Applied</a>
            {% else %}
                <a class="apply-button button" data-job-id="{{ job.id }}">Apply Now</a>
            {% endif %}
            <a class="details-button button" data-job-id="{{ job.id }}">Details</a>
        {% endif %}
    </div>
    <p style="display: none;" class="job-job-description">{{ job.description }}</p>
</div>