{% extends 'layout.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}
Sign Up
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static '/css/signup.css' %}" />
    <link rel="stylesheet" href="{% static '/css/job-card.css' %}" />
{% endblock %}
{% block content %}
<main>
  <div class="container">
    <div class="form-container">
      <div class="form-header-container">
        <h2 class="form-header">Welcome To Job Finder!</h2>
        <h3 class="form-sub-header">Create an account to get started</h3>
      </div>
      <form class="form" action="" method="POST">
        {% csrf_token %}
        <div class="input-container">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Please enter your name"
            required
          />
        </div>
        <div class="input-container">
          <label for="email">Email Address</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Please enter your email address"
            required
          />
        </div>
        <div class="input-container">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Please enter your password"
            required
          />
        </div>
        <div class="input-container">
          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm_password"
            placeholder="Please confirm your password"
            required
          />
        </div>
        <div class="toggle-container">
          <div class="toggle-indicator"></div>
          <a class="admin">Company Admin</a>
          <a class="user active">Regular User</a>
          <input type="hidden" id="user_type" name="user_type" value="normal" />
        </div>
        <button type="submit" class="button confirm-button">Sign Up</button>
        <div class="form-footer-container">
          <p class="form-footer-text">Already have an account?</p>
          <a href="{% url 'login' %}" class="form-link">Log In</a>
        </div>
        <a class="button google-account" href="{% provider_login_url 'google' %}">
          <img
            src="{% static 'assets/google.png' %}"
            alt="Google Logo"
            class="google-logo"
          />
          Use a Google Account
        </a>
      </form>
    </div>
  </div>
</main>
{% endblock %}
{% block scripts %}
    {% comment %} <script src="../js/profile-interface.js"></script>
    <script src="../js/auth.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/signup.js"></script> {% endcomment %}
    <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}