# IDE-specific files
.idea/

# CMake files
CMakeLists.txt
cmake-build-debug/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeSettings.json

JobSearch/clientsecret*.json

# Database Files
JobSearch/db.sqlite3
*.sqlite3
*.db
media/