input {
  color: var(--dark);
}

.forgot-password-container {
  text-align: center;
  width: 100%;
  margin-top: 0.3em;
  margin-bottom: -0.4em;
}

.button.google-account {
  text-decoration: none;
  cursor: default;
}
