{% extends "layout.html" %}
{% load static %}
{% block title %}Complete Your Signup{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="form-container">
      <h2>Complete Your Signup</h2>
      <br>
      <form method="post" class="form">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="form-errors">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

        <div class="input-container">
          {{ form.username.label_tag }}
          {{ form.username }}
          {{ form.username.errors }}
        </div>

        <div class="toggle-container">
          <div class="toggle-indicator"></div>
          <a class="admin">Company Admin</a>
          <a class="user active">Regular User</a>
          <input type="hidden" id="user_type" name="user_type" value="normal" />
        </div>
        
        <button type="submit" class="button confirm-button">Finish Signup</button>
      </form>
    </div>
  </div>
</main>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}